* {
  box-sizing: border-box;
}

body {
  background-color: #fefbf7;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}

.title {
  font-weight: 300;
}

.navigation {
  border: 1px solid #212121;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 82px;
  gap: 30px;
  font-weight: 400;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navigation-item {
  color: #212121;
  text-transform: uppercase;
}

.button {
  background-color: #ebf2cd;
  /* width: 260px;
  height: 50px; */
  border: solid #212121;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

.self-care-terminology {
  background-color: #fcf3e8;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.description-of-item {
  text-transform: capitalize;
}

/* doesn't work? */
.contents-journal {
  background: linear-gradient(
    to left bottom,
    #d6f89e,
    #e0f1b6,
    #f3e4e5,
    #f6e1ea,
    #f9da83
  );
}
.graphics {
  background: linear-gradient(45deg, #ffd889, #fbaf55, #f9cce0);
  border-radius: 100px;
}
.graphics-1 {
  width: 152px;
  height: 18px;
}

.graphics-2 {
  width: 212px;
  height: 18px;
}

.graphics-3 {
  width: 314px;
  height: 18px;
}

.view-all-products {
  color: #000000;
}

/* .table-journal-catalogue {
  box-sizing: border-box;
  width: 1784.11px;
  height: 702.59px;
  background-color: #fefbf7;
  border: solid #212121;
} */
.email-input {
  background-color: #fefbf7;
  width: 314px;
  height: 46px;
}

.small-arrow {
  background-color: #e7eec5;
  width: 44px;
  height: 46px;
  border: solid #212121;
}

.footer-link {
  text-decoration: none;
  color: #212121;
}

.copyright {
  background-color: #e7eec5;
}

.navigation-copyright {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.footer {
  border-bottom: 1px solid #212121;
}
