* {
  box-sizing: border-box;
}

body {
  background-color: #fefbf7;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navigation {
  border: 1px solid #212121;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 82px;
  gap: 30px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .main-navigation {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.navigation-item {
  color: #212121;
  text-transform: uppercase;
}

.first-title {
  font-size: 34px;
  margin: 0;
  font-weight: 300;
}

.description {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 25px;
}

.journal-spread {
  min-width: 20rem;
}

.button {
  background-color: #ebf2cd;
  width: 260px;
  height: 50px;
  border: solid 1px #212121;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  color: #212121;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px 9px 11px;
  gap: 100px;
  isolation: isolate;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.backed-button {
  background-color: #ebf2cd;
  width: 260px;
  height: 50px;
  border: solid 1px #212121;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  color: #212121;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px 9px 11px;
  gap: 100px;
  isolation: isolate;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
}

.backed-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.spreadInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  padding: 12px;
}

.firstBlock {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  padding: 0;
}

.numbers {
  flex-direction: row;
  align-items: flex-start;
  width: 300px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  flex: none;
  order: 1;
  flex-grow: 1;
  font-size: 12px;
}

.number {
  font-weight: 600;
}

.self-care-terminology {
  background-color: #fcf3e8;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  max-width: 1400px;
  height: 450px;
}

.quote-review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin-top: 102px;
  margin-bottom: 43px;
  font-size: 30px;
  line-height: 143%;
}

@media (max-width: 740px) {
  .spreadInfo {
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
  }

  .journal-spread {
    max-width: 80%;
  }

  .quote-review {
    font-size: 20px;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 102px;
}

.name-of-user {
  padding-left: 15px;
  font-weight: 500px;
  font-size: 12px;
  width: 260px;
}

.title-contents {
  font-weight: 300;
  font-size: 34px;
  line-height: 109%;
}
.contents-journal {
  background: linear-gradient(
    224deg,
    #d6f89e 0%,
    #e0f1b6 35.93%,
    #f3e4e5 57.65%,
    #f6e1ea 72.77%,
    #f9da83 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 1440px;
  padding: 100px 16px;
  align-items: center;
}

.contents-sections {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.right-li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0;
  padding-top: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 238px;
  padding: 0;
  padding-top: 50px;
}

.left-li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: reverse;
  gap: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

@media (max-width: 1200px) {
  .contents-sections {
    display: flex;
    flex-direction: column;
  }
  .left-arrow,
  .right-arrow {
    display: none;
  }
  .left-text,
  .right-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .left-li {
    justify-content: center;
    text-align: center;
  }
  .right-li {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .journal-page {
    min-width: 200px;
    max-width: 300px;
  }
}

.journal-page {
  min-width: 300px;
  max-width: 430px;
  width: 100%;
}

.description-of-item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.text-explanation {
  width: 238px;
  padding: 0;
  margin: 0;
}

.description-academic-institutions {
  max-width: 608px;
  display: flex;
  font-size: 17px;
  margin-bottom: 54px;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .logos {
    width: 40%;
    gap: 2rem;
    flex-direction: column;
  }
}

.title-backed {
  margin: 0;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}

.science-backed {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  justify-content: space-around;
}

.backed-right-container {
  display: flex;
}

@media (max-width: 1050px) {
  .science-backed {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.backed-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  max-width: 492px;
}

.redirection {
  display: flex;
  flex-direction: column;
}

.stats {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0;
}

.stats-li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: start;
  max-width: 268px;
}

.stats-text {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.heading.stats-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  width: 12em;
}

.graphics {
  background: linear-gradient(45deg, #ffd889, #fbaf55, #f9cce0);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.graphics-1 {
  width: 152px;
  height: 18px;
}

.graphics-2 {
  width: 212px;
  height: 18px;
}

.graphics-3 {
  width: 314px;
  height: 18px;
}

@media (max-width: 600px) {
  .graphics-1 {
    width: 122px;
  }

  .graphics-2 {
    width: 182px;
  }

  .graphics-3 {
    width: 284px;
  }
}

.all-graphics {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.view-all-products {
  color: #000000;
}

.email-input {
  background-color: #fefbf7;
  width: 314px;
  height: 46px;
}

.footer-link {
  text-decoration: none;
  color: #212121;
  width: 80px;
  display: flex;
  flex-wrap: nowrap;
}

.copyright {
  background-color: #e7eec5;
}

.navigation-copyright {
  width: 578px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

footer {
  border-top: 1px solid #212121;
  padding-top: 100px;
}

.form-footer-navig {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-around;
}

.footer-navigation-block {
  display: flex;
  justify-content: space-around;
}

.heading-footer {
  font-weight: 500;
  font-size: 17px;
  line-height: 253%;
  margin-top: 0;
}

@media (max-width: 1050px) {
  .form-footer-navig {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }

  .heading-footer {
    font-size: 14px;
  }
}

.small-arrow {
  border-left: 1px solid #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7eec5;
  width: 44px;
  height: 46px;
  cursor: pointer;
}

.join-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  outline: none;
}
.heading-join {
  margin: 5px 0;
  font-weight: 500;
  line-height: 179%;
}

.text-join {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 187%;
}

.input-join {
  outline-style: none;
  display: flex;
  border: 1px solid #212121;
}

.input-join:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.copyright {
  display: flex;
  justify-content: space-around;
  justify-content: right;
  margin-top: 100px;
  font-weight: 500;
  font-size: 10px;
  line-height: 170%;
  text-transform: uppercase;
  border-top: 1px solid #212121;
}

.navig-footer-products,
.navig-footer-company,
.navig-footer-assist {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 160px;
}

.navig-footer {
  padding: 0;
  text-align: left;
}

.need-assistance,
.our-company,
.products {
  padding: 0;
  margin-right: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 229%;
}
